@charset "utf-8";
/* CSS Document */
body {
	background-color:#333333;
	background-image:url(images/bg.jpg);
	background-position:top;
	background-repeat:repeat-y;
}
.container {
	width:850px;
	height:50px;
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	top:150px;
	left:0px;
	right:0px;
	bottom:0px;
	float:left;
	position:absolute;
	z-index:-500;
}
.container1 {
	width:850px;
	margin-left:auto;
	margin-right:auto;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	float:left;
	position:absolute;
	color:#FFF;
	z-index:-500;
}
.container html {
	background-color:#FF0000;
	height:auto;
}
.demo {
	background-color:#fff;
	width:auto;
	height:auto;
	padding-left:10px;
}
.header {
	/*	border:#000000 2px solid;*/
	background-image:url(../../images/rologo.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:400px -100px;
	color:#FFF;
	height:150px;
	width:837px;
}
.header span {
	float:right;
}
.column {
	width:315px;
	height:100px;
	float:left;
	padding:1px;
	padding-bottom:100px;
	background-color:#FFF;
}
.portlet {
	margin: 0 1em .5em 0;
	background-color:#FFFFFF;
	border:#000000 2px solid;
}
.portlet-header {
	margin: 0.3em;
	padding-bottom: 4px;
	padding-left: 0.2em;
	border:#000000 2px solid;
	background-color:#000099;
	cursor:move;
}
.portlet-header .ui-icon {
	float: right;
	cursor:pointer;
}
.portlet-content {
	padding: 0.4em;
	overflow:auto;
	background-image:url(http://studentorg.ecpi.edu/oswm/images/W.png);
	background-position:right bottom;
	background-repeat:no-repeat;
}
.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}
.static {
	border:#000000 2px solid;
	height:315px;
	float:left;
	width:625px;
	padding:4px;
	background-image:url(../images/oswmf.png);
	background-position:right bottom;
	background-repeat:no-repeat;
	background-color:#cccccc;
}
img {
	border:none;
}
.coda-nav {
	background:				transparent url(../images/navbg.png) repeat-x top left;
	height:					35px;
	margin-top:				0px;
	margin-bottom:			2px;
	width:					auto;
	padding-left:		0px;
	border-top:				#000 2px solid;
	border-bottom:				#000 2px solid;
}
.coda-nav ul {
	margin:					0;
	padding:				0;
}
.coda-nav ul li {
	list-style:				none;
	font-size:				22px;
	text-transform:			uppercase;
	float:					left;
	padding-left:			30px;
	padding-right:			30px;
	/*	line-height:			35px;*/
	color:					#aeaeae;
	border-right:			1px inset #cdcdcd;
	cursor:					pointer;
}
.coda-nav ul li a {
	color:					#aeaeae;
}
.coda-nav ul li:hover {
	background:				#cccccc;
	color:					#ffffff;
}
.nav_two {
	height:					35px;
	margin-top:				0px;
	margin-bottom:			2px;
	padding-left:			5px;
	border-top:				#000 2px solid;
}
.nav_two ul {
	margin:					0;
	padding:				0;
}
.nav_two ul li {
	list-style:				none;
	font-size:				18px;
	text-transform:			uppercase;
	float:					left;
	padding-left:			35px;
	padding-right:			35px;
	padding-top:			0px;
	/*	line-height:			35px;
	color:					#aeaeae;
	border:			1px inset #cdcdcd;*/
	cursor:					pointer;
}
.nav_two ul li a {
	color:					#000;
	text-decoration: none;
}
.nav_two ul li:hover {
	/*	background:				#006699;*/
	color:					#ffffff;
}
.nav_two ul li:visited {
	text-decoration:none;
}
.nav_two ul li:link {
	text-decoration:none;
}
.nav_two input {
	float:right;
	width:145px;
	height:17px;
	border-bottom:#000000 1px solid;
	border-top:#000000 1px solid;
	border-left:none;
	border-right:none;
}
.nav_two label {
	float:right;
	font-size:20px;
	font-weight:bold;
}
.script_search {
	float:right;
	padding-top:7px;
	padding-right:30px;
	padding-bottom:12px;
	background-image:url(../images/search.png);
	background-position:top right;
	background-repeat:no-repeat;
}
.scriptionary {
	height:auto;
	padding:10px;
	font-size:20px;
	text-align:justify;
	border:#000 2px solid;
}
.scriptionary sub {
	float:left;
	clear:left;
}
.title1 {
	float:left;
	font-size:22px;
	font-weight:bold;
	color:#333333;
	width:auto;
}
.desc {
	float:left;
	clear:both;
}
.cat img {
	float:left;
	padding:2px;
}
.cat {
	float:left;
	clear:left;
	padding:3px;
	margin-right:5px;
	border-right: #000000 2px solid;
	height:auto;
}
.download {
	float:right;
	font-weight:bold;
}
.date {
	float:right;
}
.date img {
	width:14px;
	height:14px;
}
#Links {
	height:500px;
	;
	float:left;
	width:auto;
}
