body
{
	background-color:#333;
	font-size:16px;
	background-image:
}
#container
{
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:750px;
}
#thought
{
	background-color:#FFF;
	padding:20px;
	width:300px;
	height:195px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left:20px;
}
table
{
	background-color:#FFF;
	padding:20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:-235px;
	margin-left:375px;
}
#user
{
	width:355px;
	height:235px;
}
#setup
{
	width:355px;
	padding:8px;
	border-bottom:#000 2px solid;
}
#setup td
{
	padding:0px;
	margin:0px;
		border-bottom:#000 2px solid;

}
input
{
	width:200px;
}
#radio, #RadioGroup1_0, #RadioGroup1_1, #faq_0, #faq_1
{
	width:auto;
}
#submit
{
	width:50px;
}
#sitename {
	text-decoration:none;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	color:#000;
	text-shadow:-1px 1px 1px #4A4947;
	text-transform:uppercase;
	margin-left:auto;
	margin-right:auto;
}
#footer
{
	clear:both;
		background-color:#FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
		margin-left:auto;
	margin-right:auto;
	width:705px;
	height:65px;
	padding:5px;
	margin-top:25px;
}
#footer p
{
	float:right;
	margin-left:5px;
}
#footer img
{
	float:right;
	border:none;
	width:50px;
}
#footer a
{
	text-decoration:none;
	font-weight:bold;
	color:#000;
}