body {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#333;
}
/*main container*/
#container {
	background-color:#CCC;
	height:auto;
	width:970px;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	-Moz-Border-Radius:4px;
	-Webkit-Border-Radius:4px;
}
/*header style for sit name*/
#sitename {
	padding-left:250px;
	padding-top:25px;
	margin-left:405px;
	text-decoration:none;
	font-weight:bold;
	font-size:44px;
	color:#000;
	text-shadow:-1px 1px 1px #4A4947;
	text-transform:uppercase;
	width:500px;
}
/*site main navigation*/
.nav {
	border-bottom:#000 2px solid;
}
.nav ul {
	display:inline;
	width:auto;
	font-size:18px;
}
.nav li {
	display:inline;
	padding:5px;
	text-decoration:none;
}
.nav li a:link {
	text-decoration:none;
	color:#fff;
}
.nav li a:hover {
	text-decoration:underline;
	color:#fff;
}
.nav li a:visited {
	text-decoration:none;
	color:#fff;
}
/*main content*/
h2 {
	color: #0061a9;
	font-size: 1.5em;
}
.clear {
	height:15px;
	width:auto;
}
h1, .subheader {
	text-align:right;
	clear:both;
	width:970px;
	text-transform:uppercase;
}
#article {
	width:700px;
	margin-left:auto;
	margin-right:auto;
}
/*secondary navigation*/
#column02 {
	/*background-color:#333;*/
	padding:4px;
	height:auto;
	width:100px;
	float:top;
	/*text-transform:capitalize;
	-Moz-Border-Radius:4px;
	-Webkit-Border-Radius:4px;*/
	border-top:#000 2px solid;
	border-bottom:#000 2px solid;
	text-align:left;
}
#column02 ul {
	list-style:square;
	list-style-position:inside;
	width:auto;
	height:auto;
}
#column02 li {
	font-weight:bold;
	color:#FFF;
}
#column02 li a:link {
	text-decoration:none;
	color:#FFF;
}
#column02 li a:hover {
	text-decoration:none;
	color:#FFF;
}
#column02 li a:visited {
	text-decoration:none;
	color:#FFF;
}
/*footer*/
#footer {
	clear:both;
	height:20px;
	border-top:#000 2px solid;
	width:auto;
	height:auto;
	padding:5px;
	text-align:center;
	font-weight:bold;
}
#footer div
{
	clear:both;
	margin-top:10px;
}
#footer ul
{
	width:150px;
	text-align:left;
	float:left;
	margin-left:10px;
}
#main_footer_nav
{
	border-bottom:#000 2px solid;
	text-align:left;
}
#footer a:link {
	text-decoration:none;
	color:#fff;
}
#footer a:hover {
	text-decoration:none;
	color:#fff;
}
#footer a:visited {
	text-decoration:none;
	color:#fff;
}
