
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #F6F6F6 url(images/img01.png) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6B6B6B;
}
img
{
	padding:7px;
}
form {
}

input, textarea {
	padding: 2px 5px;
	border: 1px solid #EBEBEB;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6B6B6B;
}

h1, h2, h3, h4 {
	margin: 0;
}

h2, h3, h4 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #F2F2F2;
	letter-spacing: -0.035em;
	font-weight: normal;
	color: #37404C;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 170%;
	text-align: justify;
}

ul, ol {
	margin-left: 3em;
}

dl.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

dl.list1 dt {
	float: left;
	width: 70px;
}

dl.list1 dd {
	margin-bottom: 10px;
}

dl.list1 a {
	color: #88c03d;
}

ul.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

ul.list2 li {
	float: left;
	margin: 0 18px 18px 0;
}

ul.list2 li.nopad {
	margin-right: 0;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	color: #88c03d;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 5px 20px 0 0;
}

img.right {
	float: right;
	margin: 5px 0 0 20px;
}
.article_title
{
	text-decoration:none;
}
/*embeded media*/
embed
{
	width:550px;
}
object
{
	width:550px;
}
/*embeded end*/
/* Wrapper */

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: url(images/img02.jpg) repeat-y;
}

#wrapper2 {
	background: url(images/img10.jpg) no-repeat left bottom;
}

/* Header */

#header {
	height: 140px;
	background: #000000 url(images/img03.png) no-repeat;
}

/* Logo */

#logo {
	float: left;
}

#logo h1 {
	margin: 0;
	padding: 90px 0 0 78px;
	text-transform: lowercase;
	letter-spacing: -3px;
	font-size: 40px;
	color: #ffffff;
}

#logo h1 a {
	text-decoration: none;
	color: #ffffff;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 112px 78px 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	padding-left: 40px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	background: url(images/img04.jpg) no-repeat;
}

/* Content */

#content {
	float: left;
	width: 555px;
	padding: 0 0 0 76px;
}

.post {
	padding-top: 50px;
}

.post .title {
}

.post .title a {
	text-decoration: none;
	color: #88c03d;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .entry_ecom span form{
	float:right;
}
.entry_ecom img
{
	float:left;
	height:128px;
	width:128px;
	text-align:center;
	margin:0px;
	padding:0px;
		padding-right:8px;

}
.post .meta {
	height: 16px;
	margin: 0;
	padding: 10px;
	background: url(images/img07.jpg) repeat-x left bottom;
	line-height: normal;
}

.post .meta .posted {
	display: block;
	float: left;
}

.post .meta .permalink {
	display: block;
	float: right;
	padding-left: 17px;
	background: url(images/img09.gif) no-repeat left center;
}

.post .meta .comments {
	display: block;
	float: right;
	padding: 0 30px 0 19px;
	background: url(images/img08.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 186px;
	padding: 67px 76px 0 0;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}
#sidebar img
{
	height:150px;
	width:195px;
}
#sidebar embed,#sidebar object
{
	height:100px;
	width:150px;
}
/* Search */

#search {
}

#search br {
	display: none;
}

#search input {
	padding: 1px 5px;
	border-top: 1px solid #BAD300;
	border-left: 1px solid #A9C817;
	border-right: 1px solid #7DAB00;
	border-bottom: 1px solid #578900;
	background: #6E9D00 url(images/img18.gif) repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#search #s {
	width: 130px;
	padding: 2px 5px;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6B6B6B;
}

/* Widebar */

#widebar {
	margin: 0 50px;
	padding: 25px 28px 0 28px;
	background: #F2F2F2 url(../images/img11.gif) repeat-x;
}

#widebar #colA {
	float: left;
	width: 260px;
}

#widebar #colB {
	float: left;
	width: 260px;
	padding-left: 45px;
}

#widebar #colC {
	float: left;
	width: 186px;
	padding-left: 45px;
}
#widebar img
{
	height:100px;
	width:150px;
}
#widebar embed,#widebar object
{
	height:100px;
	width:150px;
}
/* Footer */

#footer {
	height: 108px;
	background: url(images/img05.jpg) no-repeat;
	margin-left:auto;
	margin-right:auto;
}

#footer p {
	margin: 0;
	padding-top: 45px;
	text-align: center;
	color: #8E8E8E;
}

#footer a {
	color: #88c03d;
}
#power
{
	float:right;
	font-size:14px;
}
/*calendar styles*/
.navi
{
	border-bottom:#ccc 1px solid;
	padding:.5px;
	padding-bottom:2px;
}
.datehead
{
	width:15px;
	text-align:center;
	padding-top:2px;
}
.cal
{
	height:20px;
	width:25px;
	padding:2px;
			border:#CCC 2px solid;
}
.cal span
{
		background-color:#666;
		float:right;
		margin-right:5px;
		height:5px;
}
.link
{
}
.caltoday
{
	background-color:#88c03d;
}
.caltoday span
{
		background-color:#666;
		float:right;
		margin-right:5px;
		height:5px;
}
.linktoday
{
	background-color:#88c03d;
	color:#FFF;
	font-weight:bold;
}
.calendar
{
	font-size:18px;
	margin-top:5px;
	padding:5px;
	clear:both;
}

.calendar_head
{
	font-size:20px;
}
/*end calendar*/

/*ecom*/
/* 2. CONTENT
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
#price
{
	float:right;
	margin-top:-10px;
	font-size:15px;
	padding: 0, 0, 0, 0;
	width:80px;
	text-align:right;
}

pre {
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 20px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #1d1f21;
}

code {
  font-family: "Monaco", "Consolas", "Lucida Console", "Courier New", "Courier";
  background-color: #1d1f21;
}

.code-source {
  color: #df9e2e;
}

.code-dest {
  color: #d36666;
}

.code-dest-item {
  color: #a1d366;
}

.code-data-attr {
  color: #7f8687;
}

.code-dest-item .code-data-attr {
  color: #536e35;
}


.button {
  background-color: #46c5ec;
  color: #282b2e;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
}

.button:hover,
.button:focus {
  background-color: #ededed;
  color: #282b2e;
}

.note {
  float: right;
  width: 240px;
  margin: -205px 0 0 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
}

pre:hover + .note,
.note:hover {
  opacity: 0.999
}

/* 2.1 =Splitter
---------------------------------------------------------------------- */


.splitter {
  margin: 40px -40px;
  text-align: center;
  background: #35393c url("i/splitter.png") repeat-x 0 100%;
  border-bottom: 1px solid #1d1f21;
  padding: 6px 40px 5px;
  font-size: 12px;
}

.splitter:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.splitter ul {
  margin-right: 0;
  margin-top: 0;
}

.splitter > li {
  padding-left: 8px;
}

.splitter > li ul {
  margin-left: 8px;
}

.splitter ul li a {
  border-bottom: 0;
  position: static;
}

.splitter li,
.splitter ul,
.splitter ul li a  {
  display: inline;
  display: inline-block;
  line-height: 1;
}

.splitter ul,
.splitter ul li,
.splitter ul li a {
  background-image: url("i/buttons.png");
  background-repeat: no-repeat;
}

.splitter ul {
  background-position: 0 -138px;
  background-repeat: repeat-x;
}

.splitter ul li {
  margin-left: 1px;
}

.splitter ul li:first-child {
  margin-left: 0;
}

.splitter ul li a {
  padding: 5px 8px 6px;
  color: #070708;
  text-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
  text-decoration: none;
}

.splitter ul li.segment-0,
.splitter ul li.segment-2 {
  background-position: -3px -92px;
}

.splitter ul li.segment-1 {
  background-position: 0 -92px;
}

.splitter ul li.segment-0 a,
.splitter ul li.segment-1 a {
  background-position: 0 -161px;
}

.splitter ul li.segment-2 a {
  background-position: 100% -115px;
}

.splitter ul li.selected-0 a,
.splitter ul li.selected-1 a,
.splitter ul li.selected-2 a {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0;
}

.splitter ul li.selected-0,
.splitter ul li.selected-2 {
  background-position: 0 -23px;
}

.splitter ul li.selected-0 a,
.splitter ul li.selected-1 a {
  background-position: 100% -46px;
}

.splitter ul li.selected-1 {
  background-position: 0 0;
}

.splitter ul li.selected-2 a {
  background-position: 100% -69px;
}

/* 2.2 =Actions
---------------------------------------------------------------------- */

.actions:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.actions {
  margin-left: -40px;
}

.actions-two {
  padding-left: 155px;
}

.actions p {
  float: left;
  width: 260px;
  margin: 0 0 0 40px;
}

.actions p a {
  color: #fff;
  display: block;
  font: bold 24px/1 "Helvetica Neue", sans-serif; 
  background: url("i/actions.png") no-repeat;
  border-bottom: 0;
  min-height: 42px;
  padding-top: 24px;
  opacity: 0.5;
  text-decoration: none;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
}

.actions p a strong {
  text-shadow: none;
}

.actions p a:hover,
.actions p a:focus {
  opacity: 0.9999;
}

.actions p a.download {
  padding-left: 74px;
}

.actions p a.demos-n-docs {
  background-position: -270px 0;
  padding-left: 60px;
}

.actions p a.fork {
  background-position: -540px 0;
  padding-left: 76px;
}

.actions p a.download > span {
  font-size: 13px;
  display: block;
  opacity: 0.25;
  font-variant: small-caps;
  text-transform: lowercase;
}

/* 3. DEMO
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


/* 3.2 =Image Grid
---------------------------------------------------------------------- */

.image-grid {
  margin: -20px 0 0 -40px;
  padding-left: 45px;
  width: 540px;
  height:235px;
}

.image-grid:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.image-grid li {
  width: 130px;
  margin: 23px 0 0 35px;
  float: left;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 17px;
  color: #686f74;
  height: 210px;
  overflow: hidden;
}
#button form
{
	padding:0px;
	margin-right:11px;
}
#applications img
{
	height:128px;
	width:128px;
	text-align:center;
	margin:0px;
	padding:0px;
}
.image-grid li img,
.image-grid li strong {
  display: block;
}

.image-grid li strong {
  color: #000;
}